@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --container-8xl: 90rem;
  --inset-shadow-md: inset 0 2px 3px rgba(0, 0, 0, 0.25);
}

:root {
  --ui-container: var(--container-8xl);
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  html {
    @apply scroll-smooth
  }

  button {
    @apply cursor-pointer
  }
}
