name: Update PDF

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install dependencies
      run: yarn install

    - name: Run DEV server
      run: yarn dev &
    
    - name: Generate PDF
      run: yarn pdf

    - name: test
      run: git status
    