name: Update PDF

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  task:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install dependencies
      run: yarn install

    - name: Run DEV server
      run: yarn dev &
    
    - name: Generate PDF
      run: yarn pdf

    - name: Push generated PDF
      run: |
        git add public/yurii-myronov.pdf
        git commit -m "update pdf"
        git push
